# 后台密钥（自己随便填一串字符）
OPENCLAW_GATEWAY_TOKEN=jiwoejrf89oiue0wrjfo3u09u9sd09023jrusdfon

# AI 模型（国内通用）
OPENAI_API_KEY=sk-cp-1_l6THGKbVGR8QUa8M5Pqcfb5o4qBq5UtMuR44MAWwZJexvrbvFFCXQcKwsihdnb2k1QJl2qyHUqhr29Zx8HumZ4ALY5nQERC1vQuS_jXCm4LrK_B1urvMA
OPENAI_BASE_URL=https://api.minimaxi.com/v1
OPENAI_MODEL=MiniMax-M2.7

# QQ 机器人（从 QQ 开放平台复制）
QQ_BOT_APPID=1903879253
QQ_BOT_SECRET=68yb1DDzXrxpTt53
